node_modules/
coverage/

.vscode/

.sass-cache
dist*

.tmp/
.idea/
.sonarlint/
.nyc_output/
.clinic/
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
.setup

src/infra/config/config.json
src/infra/config/databases.json

tmp/*